<article class="post">
    <div ><p class="section">{{@post.section}}</p></div>
	<h1>{{@post.title}}</h1>
	<p>{{@post.blurb}}</p>
	<div class="time"><p><i>May 21, 2020, 20:00pm GMT</i></p></div>
	
	<Share/>

	<img src="{{@post.image.src}}" alt="{{@post.image.alt}}">
	<p>{{@post.paragraph_one}}</p>
	<br>
	<p>{{@post.paragraph_two}}</p>
	<br>
	<p>{{@post.paragraph_three}}</p>
	<br>
</article>