<div class="post-fragment">
	<div class="img-container"><img src="{{@post.image.src}}" alt="{{@post.image.alt}}"></div>
	<div class="fragment-text"> 
		<p class="fragment_section"><a>{{@post.section}}</a></p>
		<h2>{{@post.title}}</h2>
		<p class="fragment_blurb">{{@post.blurb}}</p>
		<p class="fragment_date">{{@post.publish_date}}</p>
	</div> 
</div>